*{
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: center;    
}

.menuzinho{
    height: 60px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botaoMenu{
    background-color: rgb(90, 0, 192);
    width: 12%;
    height: 75%;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spanMenu{
    color: #fff;

}

.pesquisaMain{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.pesquisaCardsMain{
    width: 90%;
    background-color: rgb(90, 0, 192);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}


.pesquisaCards{
    width: 70%;
}

h3{
    height: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisaInputsGrid{

    display: grid;
    grid-template-areas: "a a";
    gap: 1.2rem;
    grid-auto-columns: 25rem;
    justify-content: center;
}

.pesquisaInputsGrid > div{
    display: grid;
    color: #fff;
    
}

.inputs{
    border-radius: 0.5rem;
    height: 1.75rem;
    padding-inline: 1rem
}



.cardsMain{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#cards{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.card{
    width: calc(50% - 0.9737rem);
    border: solid cornflowerblue;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1.8rem;
}

.cardFoto{
    display: flex;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    object-fit: cover;
}

.divImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 0.4rem;
}

.cargaHoraria{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.nomeProfe{
    font-size: 1.3rem;
}

.divElementos{
    padding: 0.4rem;
}
